/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {
  /*----------- BODY --------------*/

  /*----------- HEADER --------------*/

  /*----------- NAVIGATION --------------*/

  /*----------- MAIN --------------*/

  /*----------- FOOTER --------------*/
} /* end of media query */
