@media only screen and (min-width: 1028px) {
  nav,
  main,
  header,
  footer {
    max-width: 75rem;
    margin: auto;
  }

  nav ul {
    padding-left: 1.5%;
  }

  nav ul li {
    flex-basis: auto;
  }

  nav a {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  main figure {
    width: 31%;
  }
} /* end of media query */
