/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
  font-size: 16px;
  font-family: "Philosopher", sans-serif;
}

/*----------- HEADER --------------*/
#headerWrapper {
  background-color: darkslategrey;
}

header h1 {
  margin: 0;
  font-size: 2.3rem;
  padding: 2%;
}
/*----------- NAVIGATION --------------*/

/*----------- MAIN --------------*/
main {
  padding: 0 2%;
}

main h2 {
  font-size: 1.2rem;
  padding: 0;
}

main p {
  font-size: 1rem;
}

li {
  font-size: 0.8rem;
}

button {
  background-color: silver;
}

pre,
#pre {
  background-color: rgb(236, 236, 236);
  border-style: solid;
}

#pre {
  padding: 10px;
}

figure {
  text-align: center;
}

figcaption {
  font-size: 0.6rem;
}

.myCanvas {
  border: dotted 2px black;
  background-color: antiquewhite;
}

#warning,
#note {
  background-color: red;
  color: white;
  font-style: bold;
  padding: 10px;
}

#quake {
  list-style-type: none;
}

#dataLine {
  padding: 2px;
}

input {
  margin: 5px;
  height: 20px;
}

/*----------- FOOTER --------------*/
#footerWrapper {
  background-color: darkslategrey;
}

footer {
  padding: 5px;
  margin: 2% 0;
  font-size: 11px;
}

footer p {
  margin: 2%;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
