/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
  align-content: center;
}
/*----------- HEADER --------------*/

/*----------- NAVIGATION --------------*/

/*----------- MAIN --------------*/

/** Address book setup **/
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.column1,
.column2 {
  border: solid 1px black;
  height: 507px;
}

.column1 {
  width: 300px;
}

.column2 {
  width: 700px;
}

/** Column 1 **/
.weatherContainer {
  height: 45px;
  padding-top: 8px;
  background-color: #116466;
}

.header {
  background-color: #2c3531;
  color: #ffcb9a;
  height: 100px;
  border-bottom: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.contacts {
  background-color: #116466;
  color: #d1e8e2;
  height: 362px;
  overflow: auto;
}

.contactInfo {
  height: 405px;
  padding-top: 25px;
  padding-left: 20px;
  background-color: #d9b08c;
  overflow: auto;
}

.contacts ul {
  padding: 0;
}

.contacts ul li {
  list-style-type: none;
  width: 270px;
  height: 30px;
  border: 1px solid #d1e8e2;
  margin-left: 8px;
  margin-bottom: 5px;
  padding-top: 2.5px;
  padding-bottom: 5px;
  padding-left: 5px;
  text-transform: capitalize;
  background: linear-gradient(to right, #2c3531 50%, #116466 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.contacts ul li:hover {
  background-position: left bottom;
}

.contacts ul li button {
  float: right;
  margin: 0;
  padding: 0;
  background-color: #116466;
}

#marquee-cont {
  background: #d1e8e2;
  width: 280px;
  height: 30px;
  border: 1px solid #d1e8e2;
  margin-left: 8px;
  margin-bottom: 5px;
  padding: 4px;
  font-weight: bold;
  font-size: 1.3rem;
}

#ticker-title:focus {
  outline: none;
}

/** Column 2 **/
label {
  display: inline-block;
  width: 150px;
  font-size: 30px;
  text-align: left;
  margin-bottom: 10px;
}

input {
  height: 40px;
  width: 490px;
  font-size: 30px;
  border-radius: 10px;
  outline: none; /* Good for when border-radius is used */
  padding-left: 10px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 4px #116466;
}

input:focus {
  background-color: #ffcb9a;
  border: 2px solid #2c3531;
}

input:required {
  border-left: 4px solid red;
}

#fName,
#lName,
#company,
#address,
#city,
#country {
  text-transform: capitalize;
}

#state,
#zip {
  text-transform: uppercase;
}

#weatherWrapper {
  width: 655px;
}

#weather {
  border-radius: 10px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 4px #116466;
  list-style-type: none;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

#weather li {
  padding: 0 5px;
  margin: 0 5px;
}

.options {
  height: 102px;
  padding: 15px 15px 0 15px;
  text-align: center;
  background-color: #2c3531;
}

#newContact {
  float: left;
}
#saveContact {
  float: right;
}

.options button {
  padding: 15px 25px;
  width: 125px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #d9b08c;
  background-color: #116466;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #d1e8e2;
  cursor: pointer;

  position: relative;
  z-index: 1;
  overflow: hidden;
}

.options button:hover {
  color: #d9b08c;
  font-weight: bold;
  border: 1px solid #d1e8e2;
}

.options button::after {
  content: "";
  background: #2c3531;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
}

.options button:active {
  background-color: #116466;
  box-shadow: 0 5px #d1e8e2;
  transform: translateY(4px);
}

button[class^="slide"]::after {
  transition: all 0.35s;
}

button[class^="slide"]:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}

button.slide_from_top::after {
  left: 0;
  right: 0;
  top: -100%;
  bottom: 100%;
}

iframe {
  width: 655px;
}

.error {
  background-color: #2c3531;
  text-align: center;
  height: 30px;
  font-size: 2rem;
  color: red;
  margin: 0;
  padding: 0;
}

/*----------- FOOTER --------------*/

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
