/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
  align-content: center;
}
/*----------- HEADER --------------*/

/*----------- NAVIGATION --------------*/

/*----------- MAIN --------------*/
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.column1,
.column2 {
  border: solid 1px black;
  height: 600px;
}

.column1 {
  width: 300px;
}

.column2 {
  width: 700px;
}

.header {
  background-color: #2c3531;
  color: #ffcb9a;
  height: 100px;
  border-bottom: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.contacts {
  background-color: #116466;
  color: #d1e8e2;
  height: 500px;
  overflow: auto;
}

.contactInfo {
  height: 498px;
  padding-top: 25px;
  padding-left: 20px;
  border-bottom: solid 1px black;
  background-color: #d9b08c;
  overflow: auto;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  width: 270px;
  height: 30px;
  border: 1px solid #d1e8e2;
  margin-left: 8px;
  margin-bottom: 5px;
  padding-top: 2.5px;
  padding-left: 5px;
}

li:hover {
  border: 2px solid;
  font-weight: bold;
}

li button {
  float: right;
  margin: 0;
  padding: 0;
  background-color: #116466;
}

label {
  display: inline-block;
  width: 150px;
  font-size: 30px;
  text-align: left;
  margin-bottom: 10px;
}

input {
  height: 40px;
  width: 500px;
  font-size: 30px;
}

#fName,
#lName,
#company,
#address,
#city,
#state,
#country {
  text-transform: capitalize;
}

#zip {
  text-transform: uppercase;
}

input:required {
  border-left: 4px solid red;
}

.options {
  height: 100px;
  padding: 15px 15px 0 15px;
  text-align: center;
  background-color: #2c3531;
}

#newContact {
  float: left;
}
#saveContact {
  float: right;
}

.options button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #d9b08c;
  background-color: #116466;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #d1e8e2;
}

button:hover {
  background-color: #116466;
  color: #d1e8e2;
}

button:active {
  background-color: #116466;
  box-shadow: 0 5px #d1e8e2;
  transform: translateY(4px);
}

/*----------- FOOTER --------------*/

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
