/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*  https://naishare.com/blog/how-to-create-a-simple-news-ticker-using-html,-css-and-javascript  */

/*----------- BODY --------------*/

/*----------- HEADER --------------*/

/*----------- NAVIGATION --------------*/

/*----------- MAIN --------------*/
#marquee-cont {
  background: #f4f4f4;
  margin-top: 10px;
  width: 270px;
}

#marquee-cont marquee {
  margin-top: 5px;
}

#ticker-title:focus {
  outline: none;
}

/*----------- FOOTER --------------*/

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
