/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {
  /*----------- BODY --------------*/

  /*----------- HEADER --------------*/
  header,
  main,
  footer {
    max-width: 750px;
    margin: 0 auto;
  }

  header,
  footer {
    border-radius: 25px;
  }

  header img {
    width: 180px;
  }

  header h1 {
    padding: 20px;
  }

  /*----------- NAVIGATION --------------*/

  /*----------- MAIN --------------*/

  /*----------- FOOTER --------------*/
  footer {
    font-size: 30px;
    padding: 1px;
  }
} /* end of media query */
