/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
  font-size: 16px;
  padding: 0 2%;
  font-family: "Philosopher", sans-serif;
}

/*----------- HEADER --------------*/
header {
  background-color: darkslategrey;
}

header img {
  margin: 2%;
  float: right;
  width: 95px;
}

header h1 {
  margin: 0;
  font-size: 2.3rem;
  padding: 2%;
}
/*----------- NAVIGATION --------------*/

/*----------- MAIN --------------*/
main h2 {
  font-size: 1.2rem;
  margin: 2%;
}

main p {
  font-size: 2rem;
}

main img #menuImage {
  width: 100%;
  max-width: 400px;
}

main img #formGif {
  width: 100%;
  max-width: 276px;
}

li {
  font-size: 01.1rem;
}
/*----------- FOOTER --------------*/

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
