/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
  font-size: 16px;
  font-family: "Philosopher", sans-serif;
}

/*----------- HEADER --------------*/
#headerWrapper {
  background-color: darkslategrey;
}

header img {
  margin: 2%;
  float: right;
  width: 95px;
}

header h1 {
  margin: 0;
  font-size: 2.3rem;
  padding: 2%;
}
/*----------- NAVIGATION --------------*/

/*----------- MAIN --------------*/
main {
  padding: 0 2%;
}

main h2 {
  font-size: 1.2rem;
  margin: 2%;
}

main p {
  font-size: 1rem;
}

#menuImage {
  width: 100%;
  max-width: 500px;
}

#formGif {
  width: 50%;
  max-width: 276px;
}

li {
  font-size: 0.8rem;
}

#code {
  margin: 0 2%;
  background-color: rgb(236, 236, 236);
  border-style: solid;
  padding: 10px;
}

/*----------- FOOTER --------------*/
#footerWrapper {
  background-color: darkslategrey;
}

footer {
  padding: 5px;
  margin: 2% 0;
  font-size: 11px;
}

footer p {
  margin: 2%;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
