/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
  font-size: 16px;
  font-family: "Philosopher", sans-serif;
}

/*----------- HEADER --------------*/
#headerWrapper {
  background-color: #c1946a;
}

header {
  text-align: center;
}

header img {
  margin: 2%;
  width: 150px;
}

header h1 {
  margin: 0;
  font-size: 2.3rem;
  padding: 2%;
}
/*----------- NAVIGATION --------------*/

/*----------- MAIN --------------*/
main {
  padding: 0 2%;
}

main h2 {
  font-size: 1.6rem;
  margin: 2%;
}

li {
  font-size: 01.4rem;
}

#code {
  margin: 0 2%;
  background-color: rgb(236, 236, 236);
  border-style: solid;
  padding: 10px;
}
/*----------- FOOTER --------------*/
#footerWrapper {
  background-color: #c1946a;
}

footer {
  font-size: 12px;
}

footer p {
  margin: 0 2%;
  padding: 10px 0;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
