* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}
body a {
  font-size: 1rem;
}

header,
footer {
  text-align: center;
  background-color: rgb(107, 218, 255);
  border: 0.2rem black solid;
  padding: 0.25rem 2%;
  margin: 0;
  grid-area: header;
}

header,
main,
footer {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  height: 120px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  padding: 5px;
  font-size: 0.8rem;
  grid-area: main;
}

main p {
  text-align: left;
}

main h2 {
  background-color: rgb(107, 218, 255);
  height: 2rem;
  padding-top: 0.25rem;
  max-width: 100%;
  text-align: center;
}

a {
  color: rgb(0, 0, 0);
}

a:hover {
  color: blue;
  font-weight: bold;
}

.lastmod {
  color: rgb(230, 21, 21);
  font-weight: bold;
}

section {
  background-color: lightgray;
  border: 0.2rem black solid;
  padding: 7px;
}

section img {
  border: 0.2rem black solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

section p {
  margin-left: 15px;
  margin-right: 15px;
  text-align: justify;
}
/*
section:nth-child(2) {
  display: none;
}
*/

footer {
  grid-area: footer;
  height: 90px;
}
