body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

li {
  background-color: tomato;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1,
h2 {
  text-align: center;
  background-color: yellowgreen;
}

h2 {
  grid-column-start: 1;
  grid-column-end: 3;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

.hidden {
  display: none;
}

.image {
  grid-column-start: 1;
}

/* div{
    display:flex;
} */

.hike-info {
  /* float:right; */
  padding: 0;
  padding-left: 10px;
  margin: 0;
  grid-column-start: 2;
}

.hideInfo {
  display: none;
}

.showInfo {
  display: block;
}
