/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
  color: #293241;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

/*----------- HEADER --------------*/
div#headerWrapper {
  background-color: #e0fbfc;
}

header {
  padding: 0.5rem 2%;
}

header img {
  float: left;
  margin-right: 2%;
  width: 60px;
}

h1 {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

h2 {
  font-weight: 300;
  font-size: 0.8rem;
  margin: 0;
}

/*----------- NAVIGATION --------------*/
div#navWrapper {
  background-color: #3d5a80;
}

nav button {
  margin: 0.2rem 2%;
  background-color: transparent;
  border: 2px;
  font-size: 1.6rem;
  color: #e0fbfc;
}

nav ul {
  font-weight: bold;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul.hide {
  display: none;
}

nav ul li a {
  display: block;
  color: #e0fbfc;
  padding: 0.5rem 0;
  text-decoration: none;
  font-size: 0.9rem;
  text-align: center;
}

nav ul li.active a {
  background-color: #ee6c4d;
  color: #000;
}

nav ul li a:hover {
  background-color: #98c1d9;
  color: #293241;
}

/*----------- MAIN --------------*/
main div {
  background-color: #e0fbfc;
  margin-top: 0.5rem;
  padding: 1rem;
}

main a {
  width: 50%;
  height: auto;
}

main p {
  font-size: 1.2rem;
  padding: 0 2%;
  line-height: 1.8rem;
}

/*----------- FOOTER --------------*/
div#footerWrapper {
  background-color: #293241;
}

footer {
  color: #e0fbfc;
  padding: 0.5rem 2%;
  text-align: center;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
