/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {
  header,
  aside,
  nav,
  main,
  footer {
    max-width: 70rem;
    margin: auto;
  }

  /*----------- BODY --------------*/

  /*----------- HEADER --------------*/
  header img {
    width: 100px;
  }

  header h1 {
    font-size: 1.8rem;
  }

  header h2 {
    font-size: 1.2rem;
  }

  .headings {
    display: flex;
    flex-direction: column;
  }

  /*----------- NAVIGATION --------------*/

  /*----------- MAIN --------------*/
  main,
  section.forcast p {
    font-size: 1.5rem;
  }

  .contactus {
    font-size: 1.6rem;
  }

  .contactus p {
    font-size: 1.4rem;
  }

  /*----------- Gallery --------------*/
  .weatherWrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .shadow:hover {
    box-shadow: 0 0 50px #222;
  }

  /*----------- FOOTER --------------*/
  footer {
    padding: 1.5rem 2%;
    font-size: 2rem;
  }

  footer p {
    font-size: 1.2rem;
  }
} /* end of media query */
