/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {
  /*----------- BODY --------------*/

  /*----------- HEADER --------------*/
  header img {
    width: 75px;
  }

  header h1 {
    font-size: 1.6rem;
  }

  header h2 {
    font-size: 1rem;
  }

  /*----------- NAVIGATION --------------*/
  nav button {
    display: none;
  }

  nav ul.hide {
    display: block;
  }

  nav ul li {
    float: left;
  }

  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.5rem 0.8rem;
  }

  /*----------- MAIN --------------*/
  body main div h1 {
    font-size: 3rem;
  }

  main div h2,
  section.article h2,
  main h2 {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
  }

  main p {
    font-size: 1.6rem;
  }

  .heroparent {
    position: relative;
  }

  .herochild {
    position: absolute;
    bottom: 25px;
    left: 25px;
  }

  div.forcastWrapper {
    display: block;
  }

  section.forcast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  section.forcast div {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0;
  }

  section.forcast p {
    font-size: 1.2rem;
  }

  .top {
    display: block;
  }

  .bottom {
    display: none;
  }

  section.article img {
    float: right;
    width: 264px;
    height: auto;
    margin: 25px 2% 5px 5px;
  }

  .contactus {
    font-size: 1.2rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contactus p {
    font-size: 0.9rem;
  }

  .localmap {
    display: block;
    padding: 0;
  }

  .weatherWrapper {
    grid-template-columns: 1fr 1fr;
  }

  /*----------- FOOTER --------------*/
  footer {
    padding: 1rem 2%;
    font-size: 1.5rem;
  }

  footer p {
    font-size: 1rem;
  }
} /* end of media query */
