/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {
  /*----------- BODY --------------*/

  /*----------- HEADER --------------*/

  /*----------- NAVIGATION --------------*/

  /*----------- MAIN --------------*/

  /*----------- FOOTER --------------*/
} /* end of media query */
