/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {
  /*----------- BODY --------------*/

  /*----------- HEADER --------------*/

  /*----------- NAVIGATION --------------*/

  /*----------- MAIN --------------*/
  li {
    font-size: 1.6rem;
  }

  input#statusBox {
    width: 20px;
    height: 20px;
    margin: 0 7px 0 0;
  }

  /*----------- FOOTER --------------*/
} /* end of media query */
