/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------- BODY --------------*/

/*----------- HEADER --------------*/

/*----------- NAVIGATION --------------*/

/*----------- MAIN --------------*/
main div {
  align-self: center;
}

h2 {
  margin: 10px;
  padding: 10px;
}

#frame {
  border-style: solid;
  width: 400px;
  height: 600px;
  background-color: ivory;
  margin: auto;
}

#frameTitle {
  display: flex;
  align-items: top;
  justify-content: center;
}

ul {
  padding: 0;
  margin: 5px 10px;
}

li {
  font-size: 1.2rem;
  border-style: solid;
  background-color: lavender;
  list-style: none;
  margin: 5px 0 0 0;
  padding: 0.5em 5px;
}

input#statusBox {
  width: 15px;
  height: 15px;
  margin: 0 5px 0 0;
}

button {
  background-color: lavender;
  float: right;
  border: none;
}

#listArea {
  width: 395px;
  height: 500px;
}

#listBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*----------- FOOTER --------------*/

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
