@font-face {
    font-family: 'starjedi';
    src: url('../../fonts/Starjedi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'anakin';
    src: url('../../fonts/anakinmono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'anakin';
    color: rgb(49, 49, 49);
}


body {
    background-image: url("tattoine.jpg");
}

h1 {
    font-family: 'starjedi';
    font-size: 3.5em;
    text-align: center;
    margin-top: -0px;
    color: whitesmoke;
}

h2 {
    text-align: center;
    margin-top: -2.5em;
    margin-left: -0.25em;
    font-size: 1em;
}

table {
    margin-top: 2em;
    margin-left: 1em;
    width: 100%
}

caption {
    text-align: left;
    margin-left: 0.1em;
    margin-bottom: 0.5em;
}

td {
    font-size: 1.5em;
    padding-bottom: .4em;
}

ul {
    list-style-type: none;
    margin-top: 3em;
    font-size: 1.5em;
}

footer {
    position: fixed;
    bottom: 0;
}

button {
    font-size: 1.25em;
    background-color: rgba(255, 166, 0, 0.308);
    padding: 0.25em;
}

button:disabled {
    color: rgb(96, 96, 96);
}

.hidden {
    display: none;
}

.detail:nth-child(odd) {
    background-color: rgba(228, 245, 239, 0.1);
}

.arrow {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 1.25em;
}

#prevnext, #back {
    text-align: center;
    margin-bottom: 1em;
}

#credits {
    background-color: rgba(255, 166, 0, 0.308);
    font-size:small;
    padding: .5em;
}

#swapi {
    text-align: center;
}

#instructions {
    text-align: center;
    margin-top: 2em;
    font-size: small;
}