/* Assignemt 7, 8 & 9 */

/* Supposed to prevent highlighting of word when clicking on them */
body {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
/*background-color:grey;*/
}

/* Dice image at beginning */
#die1
	{background-Image:url(images/ltry.png);}

#die2
	{background-Image:url(images/ltra.png);}

#die3
	{background-Image:url(images/ltrc.png);}

#die4
	{background-Image:url(images/ltri.png);}

#die5
	{background-Image:url(images/ltrt.png);}

/* Shows different dice color choices */
#defaultdie
	{background-Image:url(images/dice062.png);}

#greendie
	{background-Image:url(images/dice162.png);}

#reddie
	{background-Image:url(images/dice262.png);}

#amethystdie
	{background-Image:url(images/dice362.png);}

#blackdie
	{background-Image:url(images/dice462.png);}

/* Roll botton */
div.roll {
float:left;
background-color:darkgrey;
color:red;
font-weight:bold;
font-size:2.5em;
Width:243px;
height:55px;
text-align:center;
/* border-radius:10px; */
}

div.select {
float:left;
background-color:grey;
color:red;
font-weight:bold;
font-size:2.5em;
Width:243px;
height:55px;
text-align:center;
}

div.gameon {
float:left;
background-color:grey;
color:blue;
font-weight:bold;
font-size:2em;
width:55px;
height:55px;
padding-top:20px 0 0 0;
}

/div.gameover {
float:left;
background-color:blue;
color:red;
font-weight:bold;
font-size:2.5em;
Width:243px;
height:55px;
text-align:center;
}

/* New game button */
div.newgame {
float:left;
background-color:darkgrey;
color:blue;
font-weight:bold;
font-size:1.25em;
width:55px;
height:55px;
padding-top:5px 0 0 0;
}

div.lockdie {
background-color:darkgrey;
}

div.lockline {
background-color:darkgrey;
}

div.set {
background-color:darkgrey;
}

div.unset {
background-color:grey;

}

div.instructions {
background-color:darkgrey;
width:308px;
height:393px;
padding:15px;
}

/* Everything with this class is centered */
.left {
text-align:left;
}

/* Size of the dice boxes with font size set to 0em */
.dice {
width:55px;
height:55px;
background-repeat:no-repeat;
float:left;
margin:3px;
font-size:0em;
vertical-align:center;
/* color:red; */
}

/* Styling for table */
table, th, td {
border:1px solid black;
background:grey;
}

/* Everything in the table is centered unless set elsewhere */
table {
text-align:center;
}

/* Changes after hovering over dice or score lines */
.highlight:hover
{
background-color:lightgrey;
}

#flash {
text-decoration:blink;
text-transform:uppercase;
color:SpringGreen;
}

/* Random die link
	http://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_random2
*/